.site-bar{
      background-color: white ;
      color: black;
      position: fixed;
      width: 72px;
      top: 55px;
      left: 0;
      bottom: 0;
      z-index: 2;
      

}
.site-link{

      height: 75px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
}
.site-bar :hover{
      background-color: rgb(242, 242, 242);
}

.site-bar img{
      width: 24px;
      margin-bottom:  20px;
      margin-bottom: 5px;
}
.site-link div{
      font-size: 10px;
      
}

